<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909474863728-6cp58a11cgn0cm73jf1uonfi7lj9aebs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909474863728-6cp58a11cgn0cm73jf1uonfi7lj9aebs</string>
	<key>API_KEY</key>
	<string>AIzaSyACEqCzI3Lr3BwwyO4zZlQp7OVi9NUEcX0</string>
	<key>GCM_SENDER_ID</key>
	<string>909474863728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodies</string>
	<key>PROJECT_ID</key>
	<string>foodies-453b3</string>
	<key>STORAGE_BUCKET</key>
	<string>foodies-453b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909474863728:ios:9941dc325e214649a432b5</string>
	<key>DATABASE_URL</key>
	<string>https://foodies-453b3.firebaseio.com</string>
</dict>
</plist>